.ui-icon-velo:after {
	background: url("../images/teamIcons/velo.jpg") 50% 50% no-repeat !important;
}

.ui-icon-wolf:after {
	background: url("../images/teamIcons/wolf.jpg") 50% 50% no-repeat !important;
}

.ui-icon-sky:after {
	background: url("../images/teamIcons/rocket.jpg") 50% 50% no-repeat !important;
}

.ui-icon-vulcan:after {
	background: url("../images/teamIcons/vulcan.jpeg") 50% 50% no-repeat !important;
}

.ui-icon-hooli:after {
	background: url("../images/teamIcons/hooli.png") 50% 50% no-repeat !important;
}

.ui-icon-transformers:after {
	background: url("../images/teamIcons/transformers.jpg") 50% 50% no-repeat !important;
}

.ui-page { 
	background:#FFFFFF !important; 
}

.ui-page .ui-header{
    background: #20A6FD !important;
	color: #ffffff !important;
	text-shadow: none !important;
}

.ui-btn {
   background: white !important;
   color:black !important;
   text-shadow:none !important;

}

.ui-btn:hover {
	background: #F8F8F8 !important;
}

.ui-btn:active {
	background: #20A6FD !important;
}